* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "lato", sans-serif;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: black;

  text-decoration: none;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0;
  line-height: 1.2;
 
}

h2 {
  font-size: 25px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}

p {
  font-size: 30px;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  overflow: visible;
}

.navbar {
  background-color: orange;
  height: 70px;
  padding: 0 30px;
}

.navbar h1 {
  font-size: 30px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}

.navbar .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar a {
  color: white;
  padding: 9px;
  margin: 0 10px;
}
.navbar  a:hover{
  color: #e8d6b5;
  border-bottom: 3px solid #e8d6b5;
}
ul {
  display: flex;
}

.showcase{
  background-color: orange;
  height: 300px;

}
.showcase p{
  margin-bottom: 30px;
}
.showcase img{
  box-shadow: 7px 7px 7px rgb(0, 0, 0, 0.2);
}
.showcase form{
  padding-left: 7px;
}
.grid{
  display: grid;
  overflow: visible;
  grid-template-columns: 60% 40%;
}
.grid-item-1, .grid-item-2{
  position: relative;
  top: 50px;
}
.item-2-img {
  position: absolute;
  bottom: -2px;
  left: 4px;
}
.lower-container {
  margin: 120px auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}
.stats {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
}
.stats .fa {
  color: #f6a000;
}
.stat {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.stat > p {
  color: black;
  font-size: 16px;
  text-align: center;
}
.stat > h3 {
  color: black;
  margin-bottom: 8px;
  text-align: center;
}
h2 {
  color: black;
  font-weight: bold;
  text-align: center;
}