body {
  background: linear-gradient(45deg, #e66465, #9198e5, #4a59fa);
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
  color: #fff;
}

a {
  display: block;
}
fieldset {
  max-width: 340px;
}
fieldset > div {
  display: grid;
  max-width: 340px;
  gap: 8px;
}
.opt {
  display: grid;
}